<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1394">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Step to it</span>
            <h2 class="cs-title">Shop Now</h2>
            <p class="cs-text">
                Discover our latest collection of premium shoes. Shop our exclusive styles now.
            </p>
            <a href="" class="cs-button-solid">View Now</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/cta.png">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.png">
        <img loading="lazy" decoding="async" src="/assets/images/cta.png" alt="meeting" width="1920" height="486" aria-hidden="true">
    </picture>
</section>
                                