<!-- A fully fleshed-out <head>, dynamically changing based on client.json and the page front matter -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Standard meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="">
        <link rel="canonical" href="{{ client.domain }}{{ page.url }}">

        <!--Social Media Display-->
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
        <meta property="og:image" content="/assets/images/logo-small.png"/>
        <meta property="og:image:secure_url" content="/assets/images/logo-small.png"/>

        <!--Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v1">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Preloads -->
        <link rel="preload" as="image" href="/assets/svgs/logo-white.svg">
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-regular.woff2" crossorigin>
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-700.woff2" crossorigin>

        <!-- Preload an image - tag not rendered if preloadImg is blank to stop console errors -->
        {% if preloadImg != '' %}
            <link rel="preload" as="image" href="{{ preloadImg }}"/>
        {% endif %}

        <!-- Sitewide Stylesheets and Scripts -->
        <link rel="stylesheet" href="/assets/css/root.css">
        <link rel="stylesheet" href="/assets/css/dark.css">
        <script defer src="/assets/js/dark.js"></script>
        <script defer src="/assets/js/nav.js"></script>

        {% block head %}{% endblock %}

        <title>{{ title }}</title>
    </head>
    <body>
        <!--Screen reader skip main nav-->
        <a class="skip" aria-label="skip to main content" href="#main" tabindex="1">Click To Skip To Main Content</a>

        {% include "components/header.html" %}
        <main id="main">
            {% block body %}{% endblock %}
        </main>
        {% include "components/footer.html" %}

        <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
        <script>
            function initializeAnimations() {
                gsap.registerPlugin(ScrollTrigger);

                // Staggered animations for elements within .cs-content
                const tl = gsap.timeline({
                    scrollTrigger: {
                        trigger: "#sbs .cs-content",
                        start: "top 80%",
                        end: "bottom 40%",
                        toggleActions: "restart none restart none"
                    }
                });

                tl.from("#sbs .cs-graphic", {
                    x: "100%",
                    opacity: 0,
                    duration: 0.3,
                    ease: "power3.out"
                })
                .from("#sbs .cs-title", {
                    x: "100%",
                    opacity: 0,
                    duration: 0.5,
                    ease: "power3.out"
                }, "-=0.2")
                .from("#sbs .cs-text", {
                    x: "100%",
                    opacity: 0,
                    duration: 0.7,
                    ease: "power3.out"
                }, "-=0.2")
                .from("#sbs .cs-button-solid", {
                    x: "100%",
                    opacity: 0,
                    duration: 0.9,
                    ease: "power3.out"
                }, "-=0.2");

                // Animation for the image within .cs-picture
                gsap.from("#sbs .cs-picture img", {
                    x: "-100%",
                    opacity: 0,
                    rotation: 0,
                    duration: 0.7,
                    ease: "power3.out",
                    scrollTrigger: {
                        trigger: "#sbs .cs-picture img",
                        start: "top 80%",
                        end: "bottom 70%",
                        toggleActions: "restart none restart none"
                    }
                }).to("#sbs .cs-picture img", {
                    rotation: 10,
                    duration: 0.5,
                    ease: "power3.out"
                }, "<");
            }

            if ('IntersectionObserver' in window) {
                let observer = new IntersectionObserver((entries, observer) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            initializeAnimations();
                            observer.disconnect(); // Disconnect to prevent multiple calls
                        }
                    });
                });

                // Observe any element within #sbs to trigger the animation
                observer.observe(document.querySelector('#sbs .cs-content'));
            } else {
                // Fallback if IntersectionObserver isn't supported
                initializeAnimations();
            }
        </script>




    </body>
</html>