---
title: "About | Giuliani"
description: "Discover Giuliani, based in London, UK, where we specialize in premium loafer shoes. Learn about our passion for quality craftsmanship and timeless design, and how we deliver exceptional footwear to all."
preloadImg: "/assets/images/chunky-loafers-m.webp"
permalink: "about/"
eleventyNavigation:
  key: About
  order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About</h1>

    </section>

    <!-- ============================================ -->
    <!--                    sbs                    -->
    <!-- ============================================ -->

    <section id="sbs2">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/chunky-loafers-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/chunky-loafers.png">
                    <img loading="eager" decoding="async" src="/assets/images/chunky-loafers.png" alt="White platform loafers" width="850" height="655">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Welcome to Giuliani</h2>
                <p class="cs-text">
                    Where timeless elegance meets modern sophistication. At Giuliani, we believe in crafting shoes that leave a lasting impression, offering unparalleled comfort without compromising on style. Our designs are meticulously created for men and women who appreciate the subtle nuances of quiet luxury. We use biodegradable and ethically sourced components, ensuring that our creations not only align with your style but also with your values.
                </p>
                <p class="cs-text">
                    Step into the world of Giuliani, where every shoe is made with care and designed to accompany you through life’s most memorable moments. Discover our latest collection and shop exclusive styles that resonate with your personal sense of luxury.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Giuliani—crafted for those who walk with purpose.
                    </p>
                    <span class="cs-name">Jordan H.</span>
                    <span class="cs-job">Founder & CEO</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="/assets/svgs/quote.svg" alt="quote icon" height="88" width="73">
                </div>
                <a class="cs-button-solid" href="/shop">Our Collection</a>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            gsap.registerPlugin(ScrollTrigger);

            const sbs2ScrollTrigger = {
                trigger: "#sbs2",
                start: "top 40%",
                end: "bottom 20%",
                toggleActions: "restart reverse restart reverse"
            };

            
            gsap.fromTo(".cs-left", {
                x: "-100%",
                opacity: 0,
                rotation: -80
            },
            {
                x: "0%",
                opacity: 1,
                rotation: 0,
                duration: 1,
                ease: "power3.out",
                scrollTrigger: sbs2ScrollTrigger
            });

            const tl = gsap.timeline({
                scrollTrigger: sbs2ScrollTrigger
            });

            tl.fromTo("#sbs2 .cs-topper", {x: "100%", opacity: 0}, {x: "0%", opacity: 1, duration: 0.3, ease: "power3.out"})
              .fromTo("#sbs2 .cs-title", {x: "100%", opacity: 0}, {x: "0%", opacity: 1, duration: 0.5, ease: "power3.out"})
              .fromTo("#sbs2 .cs-text", {x: "100%", opacity: 0}, {x: "0%", opacity: 1, duration: 0.7, ease: "power3.out"})
              .fromTo("#sbs2 .cs-flex-group", {x: "100%", opacity: 0}, {x: "0%", opacity: 1, duration: 0.9, ease: "power3.out"})
              .fromTo("#sbs2 .cs-button-solid", {x: "100%", opacity: 0}, {x: "0%", opacity: 1, duration: 0.9, ease: "power3.out"});
        });
    </script>


  
    {% include 'components/cta.html' %}
{% endblock %}