---
title: 'Contact | Tangolden'
description: 'Meta description for the page'
permalink: 'contact/'
eleventyNavigation:
    key: Contact
    order: 400
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact</h1>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Place an Order</h2>
                    <p class="cs-text">
                        Place an order on our exclusive collection. Get in touch with us today.
                    </p>
                </div>
                <label>
                    Name
                    <input required type="text" id="name" name="name" placeholder="Name">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    Phone
                    <input required type="text" id="phone" name="phone" placeholder="Phone">
                </label>
                <label>
                    How Did You Find Us
                    <input type="text" id="find" name="find-us" placeholder="How did you find us?">
                </label>
                <label class="cs-label-message">
                    Message
                    <textarea required name="Message" id="message" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Submit Message</button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <div class="border-group">
                    <span class="cs-header">Email</span>
                    <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                </div>
                <!--Phone-->
                <div class="border-group">
                    <span class="cs-header">Phone</span>
                    <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            gsap.registerPlugin(ScrollTrigger);

            const contactScrollTrigger = {
                trigger: "#cs-contact",
                start: "top 40%",
                end: "bottom 20%",
                toggleActions: "restart reverse restart reverse"
            };

            gsap.from("#cs-form", {
                x: "-100%",
                opacity: 0,
                duration: 1,
                ease: "power3.out",
                scrollTrigger: contactScrollTrigger
            });

            gsap.from(".cs-right-section", {
                x: "100%",
                opacity: 0,
                duration: 1,
                ease: "power3.out",
                scrollTrigger: contactScrollTrigger
            });



        });
    </script>




    {% include 'components/cta.html' %}


{% endblock %}