/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */
/*-- -------------------------- -->
<---          Tayyab            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs2 {
    padding: var(--sectionPadding);
  }
  #sbs2 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
  }
  #sbs2 .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
  }
  #sbs2 .cs-left::before {
    content: "";
    position: absolute;
    background-color: #0b0b0b;
    width: 95%;
    height: 150px;
    right: 17%;
    top: 51%;
    filter: blur(25px);
    border-radius: 30%;
    transform: rotate(37deg);
    opacity: 0.6;
  }
  #sbs2 .cs-picture {
    border-radius: 1.5em;
    display: block;
    margin: auto;
    /* clips img tag corners */
    overflow: hidden;
    transform: rotate(10deg);
  }
  #sbs2 .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes image act like a background image */
    object-fit: cover;
    top: 0;
    left: 0;
  }
  #sbs2 .cs-picture1 {
    top: 0;
    left: 0;
  }
  #sbs2 .cs-right {
    max-width: 33.875rem;
    margin: auto;
  }
  #sbs2 .cs-topper {
    text-align: center;
  }
  #sbs2 .cs-title {
    text-align: center;
    max-width: 50rem;
  }
  #sbs2 .cs-text {
    text-align: center;
    max-width: 46.875rem;
    margin-bottom: 1rem;
  }
  #sbs2 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs2 .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-image: radial-gradient(#2b2e4f, #111126);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    position: relative;
  }
  #sbs2 .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: var(--bodyTextColor);
  }
  #sbs2 .cs-name {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs2 .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    display: block;
  }
  #sbs2 .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 5.5rem);
    height: auto;
    position: absolute;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    bottom: 0rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs2 .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs2 .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs2 .cs-right {
    margin: 0;
  }
  #sbs2 .cs-picture {
    position: absolute;
  }
}

/*# sourceMappingURL=about.css.map */
