/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  :root {
    --w-column: 50px;
    --calculation: 1;
  }
  #hero {
    position: relative;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
    background-image: radial-gradient(#2b2e4f, #111126);
    height: 100vh;
  }
  #hero .cs-container {
    position: relative;
    margin: auto;
    width: min(1200px, 90vw);
    height: 100%;
  }
  #hero .cs-container::before {
    content: "";
    position: absolute;
    height: var(--w-column);
    width: 100%;
    border-top: 1px solid #324073;
    border-bottom: 1px solid #324073;
    top: 52%;
    pointer-events: none;
  }
  #hero .cs-container::after {
    content: "";
    position: absolute;
    right: var(--w-column);
    width: var(--w-column);
    height: 100%;
    border-left: 1px solid #324073;
    border-right: 1px solid #324073;
    pointer-events: none;
  }
  #hero .item {
    position: absolute;
    inset: 0;
    transition: 0.5s;
    transform: translateX(calc(100vw * var(--calculation)));
    opacity: 0;
  }
  #hero .cs-picture {
    position: absolute;
    width: 115%;
    transform: translateY(0);
    left: -3%;
    top: 3%;
  }
  #hero .cs-picture img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    transform: rotate(0deg);
    transition: 0.5s;
    transition-delay: 0.3s;
  }
  #hero .cs-picture::before {
    content: "";
    position: absolute;
    background-color: #0b0b0b;
    width: 100%;
    height: 100px;
    top: 90%;
    left: 50px;
    filter: blur(50px);
    border-radius: 50%;
  }
  #hero .content {
    position: absolute;
    width: 100%;
    height: 100%;
    right: var(--w-column);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 20px;
    transform: translateX(calc(200px * var(--calculation)));
    transition: 0.7s;
    opacity: 0;
    transition-delay: 0.3s;
    padding-bottom: 75px;
    top: 5.4%;
  }
  #hero .cs-topper {
    font-weight: 500;
    color: var(--primary);
    margin: 0;
  }
  #hero .cs-title {
    font-family: "League Gothic";
    color: var(--bodyTextColor);
    text-transform: uppercase;
    font-size: clamp(3.5em, 9vw, 8.3em);
    line-height: 1em;
    transition-delay: 0.5s;
    margin: 0;
  }
  #hero .cs-text {
    color: var(--bodyTextColorWhite);
    text-align: right;
    max-width: 55%;
    font-size: small;
    transition-delay: 0.7s;
  }
  #hero .more {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    gap: 20px;
    grid-template-rows: 35px;
    transition-delay: 0.9s;
  }
  #hero .more button {
    border-radius: 30px;
    font-family: "League Gothic", sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: none;
  }
  #hero .more button:nth-child(1) {
    background-image: linear-gradient(to right, #81baa0, #46a39c);
  }
  #hero .more button:nth-child(2) {
    border: 2px solid transparent;
    background: linear-gradient(#242745, #242745) padding-box, linear-gradient(to right, #81baa0, #46a39c) border-box;
  }
  #hero .arrows {
    width: min(1200px, 90vw);
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -25px);
    pointer-events: none;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
  }
  #hero .arrows button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    break-before: 50%;
    border: 1px solid rgba(101, 156, 223, 0.3333333333);
    background-color: #232442;
    color: rgba(255, 255, 255, 0.4666666667);
    font-size: large;
    font-family: monospace;
    pointer-events: auto;
    transition: 0.5s;
  }
  #hero .arrows button:hover {
    border: 1px solid #659cdf;
    color: #fff;
  }
  #hero .indicators {
    position: absolute;
    top: clamp(52%, 58vw, 83.5%);
    height: var(--w-column);
    width: min(1200px, 90vw);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    pointer-events: none;
    justify-content: end;
    gap: 10px;
    z-index: 1;
  }
  #hero .number {
    font-family: "League Gothic", sans-serif;
    font-size: 6.5em;
    transform: translate(50px, -11px);
    opacity: 0.5;
  }
  #hero ul {
    display: flex;
    gap: 10px;
  }
  #hero ul li {
    width: 50px;
    height: 5px;
    background-color: #659cdf;
    border-radius: 10px;
    pointer-events: auto;
    cursor: pointer;
    list-style: none;
    transition: 0.5s;
  }
  #hero ul .active {
    background-color: yellow;
  }
  #hero .active {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
  }
  #hero .active .cs-picture img {
    transform: rotate(-25deg);
  }
  #hero .content {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Tablet */
@media only screen and (min-width: 48rem) {
  :root {
    --w-column: 100px;
  }
  #hero {
    height: 70vh;
  }
  #hero .content {
    width: 70%;
    justify-content: center;
    padding-bottom: 0;
    top: 0;
  }
  #hero .cs-text {
    max-width: 50%;
  }
  #hero .cs-picture {
    width: 70%;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
  }
  #hero .number {
    font-size: 6vw;
    transform: translate(0);
    opacity: 1;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero {
    height: 100vh;
  }
}

/*# sourceMappingURL=critical.css.map */
