/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-459 {
    padding: var(--sectionPadding);
    background-image: radial-gradient(#2b2e4f, #111126);
  }
  #RTsbs-459 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
  }
  #RTsbs-459 .cs-container::after {
    content: "";
    position: absolute;
    right: 200px;
    width: 200px;
    height: 100%;
    border-left: 1px solid #324073;
    border-right: 1px solid #324073;
    pointer-events: none;
  }
  #RTsbs-459 .cs-content {
    text-align: right;
    width: auto;
    max-width: 40.625rem;
    margin: 0 1rem;
    margin-top: -18.75rem;
    padding: clamp(2.5rem, 7vw, 3.75rem) clamp(1.25rem, 5.5vw, 3.75rem);
    box-sizing: border-box;
    border-radius: 0.75rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 10;
  }
  #RTsbs-459 .cs-topper {
    text-transform: none;
    font-weight: 500;
    margin-top: 1rem;
  }
  #RTsbs-459 .cs-text {
    margin-bottom: 1rem;
    font-size: 0.86rem;
    max-width: 25rem;
  }
  #RTsbs-459 .cs-title {
    text-transform: uppercase;
    color: #fff;
    font-family: "League Gothic", sans-serif;
    font-size: clamp(3.5rem, 10vw, 8rem);
  }
  #RTsbs-459 .text-buttons {
    display: flex;
    gap: 1.25rem;
  }
  #RTsbs-459 .cs-button-solid {
    font-size: 0.86rem;
    font-family: "League Gothic", sans-serif;
    /* 46px - 56px */
    line-height: 2.5rem;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 1.875rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #RTsbs-459 .cs-button-solid:nth-child(1) {
    background-image: linear-gradient(to right, #81baa0, #46a39c);
  }
  #RTsbs-459 .cs-button-solid:nth-child(2) {
    border: 2px solid transparent;
    background: linear-gradient(#242745, #242745) padding-box, linear-gradient(to right, #81baa0, #46a39c) border-box;
  }
  #RTsbs-459 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #659cdf;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1.875rem;
    transition: width 0.3s;
  }
  #RTsbs-459 .cs-button-solid:hover:before {
    width: 100%;
  }
  #RTsbs-459 .cs-picture {
    width: 100%;
    height: auto;
    height: 27.6875rem;
    display: block;
    /* sends it to the top */
    order: -1;
    position: relative;
    z-index: 1;
  }
  #RTsbs-459 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: rotate(-25deg);
  }
  #RTsbs-459 .cs-picture::before {
    content: "";
    position: absolute;
    background-color: #0b0b0b;
    width: 95%;
    height: 30px;
    top: 103%;
    left: 11%;
    filter: blur(25px);
    border-radius: 30%;
  }
  #RTsbs-459 .more {
    position: absolute;
    height: 200px; /* Sets height to 200px */
    width: 100%; /* Full width of the containing block */
    top: 52%;
    border-bottom: 1px solid #324073;
  }
  #RTsbs-459 .hor-line {
    border-top: 1px solid #324073;
  }
  #RTsbs-459 .arrows {
    position: relative;
    top: -26px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
  }
  #RTsbs-459 .arrows button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    break-before: 50%;
    border: 1px solid rgba(101, 156, 223, 0.3333333333);
    background-color: #232442;
    color: rgba(255, 255, 255, 0.4666666667);
    font-size: large;
    font-family: monospace;
    pointer-events: auto;
    transition: 0.5s;
  }
  #RTsbs-459 .arrows button:hover {
    border: 1px solid #659cdf;
    color: #fff;
  }
  #RTsbs-459 .indicators {
    position: absolute;
    height: 300px; /* Sets height to 200px */
    width: 100%; /* Full width of the containing block */
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    pointer-events: none;
    justify-content: end;
    gap: 10px;
    z-index: 1;
  }
  #RTsbs-459 .number {
    font-family: "League Gothic", sans-serif;
    font-size: 5.7vw;
  }
  #RTsbs-459 ul {
    display: flex;
    gap: 10px;
  }
  #RTsbs-459 ul li {
    width: 50px;
    height: 5px;
    background-color: #659cdf;
    border-radius: 10px;
    pointer-events: auto;
    cursor: pointer;
    list-style: none;
    transition: 0.5s;
  }
  #RTsbs-459 ul .active {
    background-color: yellow;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbs-459 .cs-container,
  #RTsbsr-459 .cs-container,
  #RTsbst-459 .cs-container {
    padding: 3.75rem 0;
    position: relative;
    align-items: flex-end;
    justify-content: center;
  }
  #RTsbs-459 .cs-content,
  #RTsbsr-459 .cs-content,
  #RTsbst-459 .cs-content {
    width: 65%;
    margin: 0;
  }
  #RTsbs-459 .cs-picture,
  #RTsbsr-459 .cs-picture,
  #RTsbst-459 .cs-picture {
    /* 465px - 617px */
    width: clamp(29.0625rem, 53vw, 58.5625rem);
    position: absolute;
    left: 0;
    height: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RTsbs-459 .cs-content,
  #RTsbsr-459 .cs-content,
  #RTsbst-459 .cs-content {
    /* 90px - 108px */
    margin-right: clamp(5rem, 8.5vw, 6.75rem);
  }
}

/*# sourceMappingURL=critical.css.map */
