/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-459 {
    position: relative;
    background-image: radial-gradient(#2b2e4f, #111126);
  }
  #RTsbs-459 .cs-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    margin-top: -2rem;
  }
  #RTsbs-459 .cs-container::after {
    position: absolute;
    top: -10%;
    right: 75px;
    content: "";
    border-right: 1px solid #324073;
    border-left: 1px solid #324073;
    height: 110%;
    width: 75px;
    pointer-events: none;
  }
  #RTsbs-459 .cs-content {
    z-index: 10;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: translateX(8rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0.75rem;
    height: 0;
    max-width: 40.625rem;
    width: auto;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    text-align: right;
  }
  #RTsbs-459 .cs-content.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    height: initial;
    padding: clamp(2.5rem, 7vw, 3.75rem) clamp(1rem, 4.5vw, 3.75rem);
    top: -4rem;
  }
  #RTsbs-459 .cs-topper {
    margin-top: 1rem;
    text-transform: none;
    font-weight: 500;
  }
  #RTsbs-459 .cs-text {
    margin-bottom: 1rem;
    max-width: 25rem;
    font-size: 0.9rem;
  }
  #RTsbs-459 .cs-title {
    text-transform: uppercase;
    font-family: "League Gothic", sans-serif;
    color: #fff;
  }
  #RTsbs-459 .text-buttons {
    display: flex;
    gap: 1.25rem;
  }
  #RTsbs-459 .cs-button-solid {
    font-weight: 400;
    font-size: 1rem;
  }
  #RTsbs-459 .cs-button-solid:nth-child(1) {
    background-image: linear-gradient(to right, #81baa0, #46a39c);
  }
  #RTsbs-459 .cs-button-solid:nth-child(2) {
    border: 2px solid transparent;
    background: linear-gradient(#242745, #242745) padding-box, linear-gradient(to right, #81baa0, #46a39c) border-box;
  }
  #RTsbs-459 .cs-picture {
    /* sends it to the top */
    order: -1;
    z-index: 1;
    position: relative;
    opacity: 0;
    transform: translateY(50rem);
    transform: translateX(50rem);
    display: block;
    height: 0;
    width: 100%;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  #RTsbs-459 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-25deg);
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
  #RTsbs-459 .cs-picture::before {
    position: absolute;
    top: clamp(103%, 48vw, 110%);
    left: 11%;
    content: "";
    border-radius: 30%;
    background-color: #0b0b0b;
    height: 30px;
    width: 95%;
    filter: blur(25px);
  }
  #RTsbs-459 .cs-picture.active {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
    height: 27.6875rem;
  }
  #RTsbs-459 .more {
    position: absolute;
    top: 52%;
    border-top: 1px solid #324073;
    border-bottom: 1px solid #324073;
    height: 75px; /* Sets height to 200px */
    width: 100%; /* Full width of the containing block */
  }
  #RTsbs-459 .arrows {
    z-index: 999;
    position: relative;
    top: -26px;
    display: flex;
    justify-content: space-between;
  }
  #RTsbs-459 .arrows button {
    border: 1px solid rgba(101, 156, 223, 0.3333333333);
    border-radius: 50%;
    background-color: #232442;
    height: 50px;
    width: 50px;
    font-family: monospace;
    font-size: large;
    color: rgba(255, 255, 255, 0.4666666667);
    pointer-events: auto;
    transition: 0.5s;
    break-before: 50%;
  }
  #RTsbs-459 .arrows button:hover {
    border: 1px solid #659cdf;
    color: #fff;
  }
  #RTsbs-459 .indicators {
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 300px; /* Sets height to 200px */
    width: 100%; /* Full width of the containing block */
    pointer-events: none;
    gap: 10px;
  }
  #RTsbs-459 .number {
    font-family: "League Gothic", sans-serif;
    font-size: 17.1vw;
  }
  #RTsbs-459 ul {
    display: flex;
    gap: 10px;
  }
  #RTsbs-459 ul li {
    border-radius: 10px;
    background-color: #659cdf;
    height: 5px;
    width: 50px;
    list-style: none;
    cursor: pointer;
    pointer-events: auto;
    transition: 0.5s;
  }
  #RTsbs-459 ul .active {
    background-color: yellow;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbs-459 {
    padding-bottom: 6.25rem;
  }
  #RTsbs-459 .cs-container {
    position: relative;
    justify-content: center;
    align-items: flex-end;
    padding: 3.75rem 0;
    margin-top: 0;
  }
  #RTsbs-459 .cs-container::after {
    right: 200px;
    width: 200px;
    height: 100%;
    top: auto;
  }
  #RTsbs-459 .cs-content {
    margin: 0;
    width: 65%;
  }
  #RTsbs-459 .cs-content.active {
    top: auto;
  }
  #RTsbs-459 .cs-picture {
    position: absolute;
    left: 0;
    height: 100%;
    /* 465px - 617px */
    width: clamp(29.0625rem, 53vw, 58.5625rem);
  }
  #RTsbs-459 .cs-picture img {
    object-fit: cover;
  }
  #RTsbs-459 .more {
    height: 200px; /* Sets height to 200px */
  }
  #RTsbs-459 .indicators {
    top: 52%;
    left: 50%;
  }
  #RTsbs-459 .number {
    font-size: 5.7vw;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RTsbs-459 .cs-content {
    /* 90px - 108px */
    margin-right: clamp(5rem, 8.5vw, 6.75rem);
  }
}

/*# sourceMappingURL=critical.css.map */
