/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs {
    padding: var(--sectionPadding);
    background-image: radial-gradient(#2b2e4f, #111126);
  }
  #sbs .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
  }
  #sbs .cs-content {
    text-align: center;
    width: auto;
    max-width: 40.625rem;
    margin: 0 1rem;
    /* 40px - 60px top and bottom */
    /* 20px - 60px left and right */
    margin-top: clamp(1rem, 15vw, 12rem);
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    position: relative;
    z-index: 10;
    animation: slideFromRight 0.3s ease-in-out forwards;
  }
  #sbs .cs-title {
    font-size: clamp(4.5rem, 8vw, 8rem);
    animation: slideFromRight 0.5s ease-in-out forwards;
  }
  #sbs .cs-text {
    font-size: var(--bodyFontSize);
    margin-bottom: 1rem;
    animation: slideFromRight 0.7s ease-in-out forwards;
  }
  #sbs .cs-button-solid {
    animation: slideFromRight 0.9s ease-in-out forwards;
  }
  #sbs .cs-graphic {
    width: 100%;
    margin: 0 0 1rem 0;
  }
  #sbs .cs-picture {
    width: 100%;
    height: auto;
    height: 27.6875rem;
    border-radius: 1.5rem;
    display: block;
    /* sends it to the top */
    order: -1;
    position: relative;
  }
  #sbs .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform: rotate(10deg);
  }
  #sbs .cs-picture::before {
    content: "";
    position: absolute;
    background-color: #0b0b0b;
    width: 95%;
    height: 150px;
    right: 17%;
    top: 65%;
    filter: blur(25px);
    border-radius: 30%;
    transform: rotate(37deg);
    opacity: 0.6;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs .cs-container {
    padding: 3.75rem 0;
    position: relative;
    align-items: flex-end;
    justify-content: center;
  }
  #sbs .cs-content {
    width: clamp(40%, 34vw, 45%);
    margin: 0;
  }
  #sbs .cs-picture {
    /* 465px - 617px */
    width: clamp(28.0625rem, 53vw, 41.5625rem);
    position: absolute;
    left: 25px;
    height: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs .cs-content {
    /* 90px - 108px */
    margin-right: clamp(5rem, 8.5vw, 6.75rem);
    margin-bottom: 150px;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1618 {
    background-color: #0b0c0c;
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #hero-1618 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 60px - 180px */
    gap: clamp(3.75rem, 13vw, 11.25rem);
  }
  #hero-1618 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #hero-1618 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    margin: 0;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    /* 24px - 32px */
    padding: clamp(1.5rem, 3vw, 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 12;
    grid-row: span 1;
    position: relative;
    z-index: 1;
  }
  #hero-1618 .cs-icon {
    width: clamp(4.25rem, 8.8vw, 4.5rem);
    height: auto;
    margin: 0 0 1.5rem 0;
  }
  #hero-1618 .cs-h3 {
    /* 20px - 25px */
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #hero-1618 .cs-item-text {
    /* 14px - 16px */
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    max-width: 28.125rem;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1618 {
    padding-bottom: 0;
  }
  #hero-1618 .cs-container {
    align-items: flex-start;
  }
  #hero-1618 .cs-item {
    grid-column: span 4;
  }
}
/*-- -------------------------- -->
<---        Collection          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #collection-1602 {
    background-image: radial-gradient(#2b2e4f, #111126);
    padding: var(--sectionPadding);
  }
  #collection-1602 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #collection-1602 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  #collection-1602 .cs-title {
    margin: 0;
  }
  #collection-1602 .cs-button-group {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* 16px - 32px */
    gap: clamp(1rem, 4vw, 2rem);
  }
  #collection-1602 .cs-button {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    padding: 0;
    color: var(--bodyTextColor);
    background-color: transparent;
    border: none;
    position: relative;
    transition: color 0.3s;
  }
  #collection-1602 .cs-button:before {
    content: "";
    width: 0;
    height: 1px;
    background: var(--primary);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
  }
  #collection-1602 .cs-button:hover {
    color: var(--primary);
    cursor: pointer;
  }
  #collection-1602 .cs-button:hover:before {
    width: 100%;
  }
  #collection-1602 .cs-button.cs-active {
    color: var(--primary);
  }
  #collection-1602 .cs-button.cs-active:before {
    width: 100%;
  }
  #collection-1602 .cs-listing-wrapper {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  #collection-1602 .cs-listing {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    grid-auto-flow: row;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
    position: relative;
    transform-style: preserve-3d;
    perspective: 700px;
    transition: transform 0.7s, opacity 0.3s, visibility 0.5s, top 0.3s, left 0.3s;
    /* makes the transform scaling origin the top left corner, dictates the direction by which the scale transforms animate towards */
    transform-origin: left top;
  }
  #collection-1602 .cs-listing.cs-hidden {
    /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
    opacity: 0;
    /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
    visibility: hidden;
    position: absolute;
    position: absolute;
    /* this top and left value help control the animation, by setting it to position absolute and left 0, the gallery won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the top:0 value, the gallery won't go past that position when it animates */
    top: 0;
    left: 0;
    /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
    transform: scaleY(0) scaleX(0);
    /* prevents the mouse from interacting with it */
    pointer-events: none;
  }
  #collection-1602 .cs-listing.cs-hidden .cs-image {
    opacity: 0;
    /* when gallery is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-gallery */
    transform: translateY(2.1875rem) rotateX(90deg);
  }
  #collection-1602 .cs-listing.cs-hidden .cs-item {
    transform: rotateY(180deg);
    opacity: 0;
  }
  #collection-1602 .cs-item {
    width: 100%;
    max-width: 23.4375rem;
    /* overwrites the default 'min-width: auto' value, keeping all grid items the same width no matter what*/
    min-width: 0;
    opacity: 1;
    padding: 1rem;
    background-image: radial-gradient(#2b2e4f, #111126);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: rotateY(0);
    transition: transform 0.7s, opacity 0.3s;
  }
  #collection-1602 .cs-item:nth-of-type(1) {
    transition-delay: 0.1s;
  }
  #collection-1602 .cs-item:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  #collection-1602 .cs-item:nth-of-type(3) {
    transition-delay: 0.3s;
  }
  #collection-1602 .cs-item:nth-of-type(4) {
    transition-delay: 0.4s;
  }
  #collection-1602 .cs-item:nth-of-type(5) {
    transition-delay: 0.5s;
  }
  #collection-1602 .cs-item:nth-of-type(6) {
    transition-delay: 0.6s;
  }
  #collection-1602 .cs-item:nth-of-type(7) {
    transition-delay: 0.7s;
  }
  #collection-1602 .cs-item:nth-of-type(8) {
    transition-delay: 0.8s;
  }
  #collection-1602 .cs-item:nth-of-type(9) {
    transition-delay: 0.1s;
  }
  #collection-1602 .cs-item:nth-of-type(10) {
    transition-delay: 0.1s;
  }
  #collection-1602 .cs-item:nth-of-type(11) {
    transition-delay: 0.1s;
  }
  #collection-1602 .cs-item:nth-of-type(12) {
    transition-delay: 0.1s;
  }
  #collection-1602 .cs-link {
    text-decoration: none;
  }
  #collection-1602 .cs-link:hover .cs-picture img {
    transform: scale(1.1);
  }
  #collection-1602 .cs-picture-group {
    width: auto;
    height: 18.75rem;
    margin-bottom: 1.25rem;
    position: relative;
  }
  #collection-1602 .cs-picture {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    overflow: hidden;
    display: block;
  }
  #collection-1602 .cs-picture img {
    width: 100%;
    height: 100%;
    /* using object-fit contain to keep the entirety of the product image in the frame */
    /* feel free to change this to 'cover', or adjust the background-color above if you have consistent backgrounds on your products */
    object-fit: contain;
    transition: transform 0.6s;
    transform: rotate(-25deg);
  }
  #collection-1602 .cs-picture::before {
    content: "";
    position: absolute;
    background-color: #0b0b0b;
    width: 100%;
    height: 15px;
    top: 90%;
    filter: blur(12.5px);
    border-radius: 30%;
    opacity: 0.8;
  }
  #collection-1602 .cs-offer {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 0.375rem;
    color: #fff;
    background: #ff4747;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }
  #collection-1602 .cs-category {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--primary);
  }
  #collection-1602 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 5vw, 1.7rem);
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin: 0;
    color: var(--headerColor);
    overflow: hidden;
  }
  #collection-1602 .cs-actions {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #collection-1602 .cs-price {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--bodyTextColor);
  }
  #collection-1602 .cs-was-price {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-decoration: line-through;
    color: #767676;
  }
  #collection-1602 .cs-stars {
    margin-top: 0.25rem;
    display: flex;
  }
  #collection-1602 .cs-star {
    width: 1.25rem;
    height: 1.25rem;
  }
  #collection-1602 .cs-buy {
    max-height: 2.5rem;
    padding: 0.5rem;
    background: none;
    border: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #collection-1602 .cs-basket {
    width: 1.5rem;
    height: auto;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #collection-1602 .cs-content {
    flex-direction: row;
    justify-content: space-between;
  }
  #collection-1602 .cs-listing {
    grid-template-columns: repeat(3, 1fr);
  }
  #collection-1602 .cs-item {
    max-width: none;
  }
  #collection-1602 .cs-picture-group {
    /* 200px - 320px */
    height: clamp(12.5rem, 23vw, 20rem);
  }
}

/*# sourceMappingURL=local.css.map */
