---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="RTsbs-459">
        <div class="cs-container">
            <!-- Slide 1 -->
            <div class="cs-content">
                <span class="cs-topper">Classics</span>
                <h2 class="cs-title">Noir Classic</h2>
                <p class="cs-text">
                    Designed to make a lasting impression, offering unparalleled comfort and timeless appeal.
                </p>
                <div class="text-buttons">
                    <a href="" class="cs-button-solid">Add to cart</a>
                    <a href="" class="cs-button-solid">See more</a>
                </div>
            </div>
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/black-loafers.png">
                <source media="(min-width: 601px)" srcset="/assets/images/black-loafers.png">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/black-loafers.png" alt="Black loafers" width="649" height="617">
            </picture>

            <!-- Slide 2 -->
            <div class="cs-content">
                <span class="cs-topper">Sport Shoes</span>
                <h2 class="cs-title">NIKE D.02</h2>
                <p class="cs-text">
                    Cutting-edge design meets superior performance, perfect for athletes and style enthusiasts alike.
                </p>
                <div class="text-buttons">
                    <a href="" class="cs-button-solid">Add to cart</a>
                    <a href="" class="cs-button-solid">See more</a>
                </div>
            </div>
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/black-loafers.png">
                <source media="(min-width: 601px)" srcset="/assets/images/black-loafers.png">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/black-loafers.png" alt="NIKE D.02 shoes" width="649" height="617">
            </picture>

            <!-- Slide 3 -->
            <div class="cs-content">
                <span class="cs-topper">Sport Shoes</span>
                <h2 class="cs-title">NIKE D.03</h2>
                <p class="cs-text">
                    The pinnacle of comfort and style, designed for those who demand the best in athletic footwear.
                </p>
                <div class="text-buttons">
                    <a href="" class="cs-button-solid">Add to cart</a>
                    <a href="" class="cs-button-solid">See more</a>
                </div>
            </div>
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/black-loafers.png">
                <source media="(min-width: 601px)" srcset="/assets/images/black-loafers.png">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/black-loafers.png" alt="NIKE D.03 shoes" width="649" height="617">
            </picture>

            <div class="indicators">
                <div class="number">01</div>
                <ul>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="more">
                <div class="arrows">
                    <button id="prev">&lt;</button>
                    <button id="next">&gt;</button>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <div class="cs-content">
                <img class="cs-graphic" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/ornament.svg" alt="chef" width="456" height="31">
                <h2 class="cs-title">Blanc Chunk</h2>
                <p class="cs-text">
                    For women, these elegant loafers blend classic sophistication with modern edge, featuring a pearly white gloss finish and bold gold accents.
                </p>
                <a href="" class="cs-button-solid">Learn More</a>
            </div>
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/chunky-loafers.png">
                <source media="(min-width: 601px)" srcset="/assets/images/chunky-loafers.png">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/chunky-loafers.png" alt="grass" width="649" height="617">
            </picture>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->
    <section id="hero-1618">
        <div class="cs-container">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/shoes.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">Exquisite Style</h3>
                    <p class="cs-item-text">
                         Our designs favor subtlety over flashiness, appealing to those who appreciate refined, quiet luxury.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/love.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">Made with Care</h3>
                    <p class="cs-item-text">
                        Biodegradable and sustainable materials that align with moral and ethical standards.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/muscle.svg" alt="icon" width="48" height="48">
                    <h3 class="cs-h3">Durability</h3>
                    <p class="cs-item-text">
                        Premium faux leather, exotic skins, and high-quality fabrics to ensure our shoes remain fresh.
                    </p>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Collection                  -->
    <!-- ============================================ -->

    <!--
        To add a 4th or 5th collection or more, copy and paste the cs-button and change it's data-filter to the next number, in this case it's 4. Do the same to the cs-listing and its data-category number. And that's it!
    -->

    <section id="collection-1602">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Hot Drops</h2>
                <div class="cs-button-group">
                    <button class="cs-button" data-filter="one">
                        Latest
                    </button>
                    <button class="cs-button" data-filter="two">
                        Top Rated
                    </button>
                    <button class="cs-button" data-filter="three">
                        Best Seller
                    </button>
                </div>
            </div>
            <div class="cs-listing-wrapper">
                <!--Listing 1-->
                <div class="cs-listing" data-category="one">
                    <div class="cs-item">
                        <a href="" class="cs-link">
                            <div class="cs-picture-group">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)"
                                            srcset="/assets/images/black-loafers.png">
                                    <source media="(min-width: 601px)"
                                            srcset="/assets/images/black-loafers.png">
                                    <img loading="lazy" decoding="async"
                                            src="/assets/images/black-loafers.png"
                                            alt="gallery" width="305" height="400">
                                </picture>
                                <span class="cs-offer">-20%</span>
                            </div>
                            <div class="cs-details">
                                <span class="cs-category">Classics</span>
                                <h3 class="cs-name">Noir Classic</h3>
                                <div class="cs-actions">
                                    <div class="cs-flex">
                                        <span class="cs-price">$69</span>
                                        <span class="cs-was-price">$86</span>
                                        <div class="cs-stars">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                        </div>
                                    </div>
                                    <button class="cs-buy">
                                        <img class="cs-basket"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-bag-icon.svg"
                                                alt="buy" height="24" width="24" loading="lazy" decoding="async">
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cs-item">
                        <a href="" class="cs-link">
                            <div class="cs-picture-group">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)"
                                            srcset="/assets/images/blue-loafers.png">
                                    <source media="(min-width: 601px)"
                                            srcset="/assets/images/blue-loafers.png">
                                    <img loading="lazy" decoding="async"
                                            src="/assets/images/blue-loafers.png"
                                            alt="gallery" width="305" height="400">
                                </picture>
                                <span class="cs-offer">-20%</span>
                            </div>
                            <div class="cs-details">
                                <span class="cs-category">Midnight</span>
                                <h3 class="cs-name">Blue Royale</h3>
                                <div class="cs-actions">
                                    <div class="cs-flex">
                                        <span class="cs-price">$69</span>
                                        <span class="cs-was-price">$86</span>
                                        <div class="cs-stars">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                        </div>
                                    </div>
                                    <button class="cs-buy">
                                        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-bag-icon.svg"
                                                alt="buy" height="24" width="24" loading="lazy" decoding="async">
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cs-item">
                        <a href="" class="cs-link">
                            <div class="cs-picture-group">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)"
                                            srcset="/assets/images/red-loafers.png">
                                    <source media="(min-width: 601px)"
                                            srcset="/assets/images/red-loafers.png">
                                    <img loading="lazy" decoding="async"
                                            src="/assets/images/red-loafers.png"
                                            alt="gallery" width="305" height="400">
                                </picture>
                                <span class="cs-offer">-20%</span>
                            </div>
                            <div class="cs-details">
                                <span class="cs-category">Cardinal</span>
                                <h3 class="cs-name">Scarlet Noble</h3>
                                <div class="cs-actions">
                                    <div class="cs-flex">
                                        <span class="cs-price">$69</span>
                                        <span class="cs-was-price">$86</span>
                                        <div class="cs-stars">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                        </div>
                                    </div>
                                    <button class="cs-buy">
                                        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-bag-icon.svg"
                                                alt="buy" height="24" width="24" loading="lazy" decoding="async">
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>    
                </div>
                <!--Listing 2-->
                <div class="cs-listing cs-hidden" data-category="two">
                    <div class="cs-item">
                        <a href="" class="cs-link">
                            <div class="cs-picture-group">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)"
                                            srcset="/assets/images/black-loafers.png">
                                    <source media="(min-width: 601px)"
                                            srcset="/assets/images/black-loafers.png">
                                    <img loading="lazy" decoding="async"
                                            src="/assets/images/black-loafers.png"
                                            alt="gallery" width="305" height="400">
                                </picture>
                                <span class="cs-offer">-20%</span>
                            </div>
                            <div class="cs-details">
                                <span class="cs-category">Classics</span>
                                <h3 class="cs-name">Noir Classic</h3>
                                <div class="cs-actions">
                                    <div class="cs-flex">
                                        <span class="cs-price">$69</span>
                                        <span class="cs-was-price">$86</span>
                                        <div class="cs-stars">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                        </div>
                                    </div>
                                    <button class="cs-buy">
                                        <img class="cs-basket"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-bag-icon.svg"
                                                alt="buy" height="24" width="24" loading="lazy" decoding="async">
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cs-item">
                        <a href="" class="cs-link">
                            <div class="cs-picture-group">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)"
                                            srcset="/assets/images/blue-loafers.png">
                                    <source media="(min-width: 601px)"
                                            srcset="/assets/images/blue-loafers.png">
                                    <img loading="lazy" decoding="async"
                                            src="/assets/images/blue-loafers.png"
                                            alt="gallery" width="305" height="400">
                                </picture>
                                <span class="cs-offer">-20%</span>
                            </div>
                            <div class="cs-details">
                                <span class="cs-category">Midnight</span>
                                <h3 class="cs-name">Blue Royale</h3>
                                <div class="cs-actions">
                                    <div class="cs-flex">
                                        <span class="cs-price">$69</span>
                                        <span class="cs-was-price">$86</span>
                                        <div class="cs-stars">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                        </div>
                                    </div>
                                    <button class="cs-buy">
                                        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-bag-icon.svg"
                                                alt="buy" height="24" width="24" loading="lazy" decoding="async">
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cs-item">
                        <a href="" class="cs-link">
                            <div class="cs-picture-group">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)"
                                            srcset="/assets/images/red-loafers.png">
                                    <source media="(min-width: 601px)"
                                            srcset="/assets/images/red-loafers.png">
                                    <img loading="lazy" decoding="async"
                                            src="/assets/images/red-loafers.png"
                                            alt="gallery" width="305" height="400">
                                </picture>
                                <span class="cs-offer">-20%</span>
                            </div>
                            <div class="cs-details">
                                <span class="cs-category">Cardinal</span>
                                <h3 class="cs-name">Scarlet Noble</h3>
                                <div class="cs-actions">
                                    <div class="cs-flex">
                                        <span class="cs-price">$69</span>
                                        <span class="cs-was-price">$86</span>
                                        <div class="cs-stars">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                        </div>
                                    </div>
                                    <button class="cs-buy">
                                        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-bag-icon.svg"
                                                alt="buy" height="24" width="24" loading="lazy" decoding="async">
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Listing 3-->
                <div class="cs-listing cs-hidden" data-category="three">
                    <div class="cs-item">
                        <a href="" class="cs-link">
                            <div class="cs-picture-group">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)"
                                            srcset="/assets/images/black-loafers.png">
                                    <source media="(min-width: 601px)"
                                            srcset="/assets/images/black-loafers.png">
                                    <img loading="lazy" decoding="async"
                                            src="/assets/images/black-loafers.png"
                                            alt="gallery" width="305" height="400">
                                </picture>
                                <span class="cs-offer">-20%</span>
                            </div>
                            <div class="cs-details">
                                <span class="cs-category">Classics</span>
                                <h3 class="cs-name">Noir Classic</h3>
                                <div class="cs-actions">
                                    <div class="cs-flex">
                                        <span class="cs-price">$69</span>
                                        <span class="cs-was-price">$86</span>
                                        <div class="cs-stars">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                        </div>
                                    </div>
                                    <button class="cs-buy">
                                        <img class="cs-basket"
                                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-bag-icon.svg"
                                                alt="buy" height="24" width="24" loading="lazy" decoding="async">
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cs-item">
                        <a href="" class="cs-link">
                            <div class="cs-picture-group">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)"
                                            srcset="/assets/images/blue-loafers.png">
                                    <source media="(min-width: 601px)"
                                            srcset="/assets/images/blue-loafers.png">
                                    <img loading="lazy" decoding="async"
                                            src="/assets/images/blue-loafers.png"
                                            alt="gallery" width="305" height="400">
                                </picture>
                                <span class="cs-offer">-20%</span>
                            </div>
                            <div class="cs-details">
                                <span class="cs-category">Midnight</span>
                                <h3 class="cs-name">Blue Royale</h3>
                                <div class="cs-actions">
                                    <div class="cs-flex">
                                        <span class="cs-price">$69</span>
                                        <span class="cs-was-price">$86</span>
                                        <div class="cs-stars">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                        </div>
                                    </div>
                                    <button class="cs-buy">
                                        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-bag-icon.svg"
                                                alt="buy" height="24" width="24" loading="lazy" decoding="async">
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cs-item">
                        <a href="" class="cs-link">
                            <div class="cs-picture-group">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)"
                                            srcset="/assets/images/red-loafers.png">
                                    <source media="(min-width: 601px)"
                                            srcset="/assets/images/red-loafers.png">
                                    <img loading="lazy" decoding="async"
                                            src="/assets/images/red-loafers.png"
                                            alt="gallery" width="305" height="400">
                                </picture>
                                <span class="cs-offer">-20%</span>
                            </div>
                            <div class="cs-details">
                                <span class="cs-category">Cardinal</span>
                                <h3 class="cs-name">Scarlet Noble</h3>
                                <div class="cs-actions">
                                    <div class="cs-flex">
                                        <span class="cs-price">$69</span>
                                        <span class="cs-was-price">$86</span>
                                        <div class="cs-stars">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                            <img class="cs-star"
                                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/review-star.svg"
                                                    alt="star" height="24" width="24" loading="lazy" decoding="async">
                                        </div>
                                    </div>
                                    <button class="cs-buy">
                                        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-bag-icon.svg"
                                                alt="buy" height="24" width="24" loading="lazy" decoding="async">
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                


                                

  
    <script>
        const prevBtn = document.getElementById('prev');
        const nextBtn = document.getElementById('next');
        const carousel = document.getElementById('RTsbs-459');
        const container = carousel.querySelector('.cs-container');
        const contents = [...container.querySelectorAll('.cs-content')];
        const pictures = [...container.querySelectorAll('.cs-picture')];
        const indicator = container.querySelector('.indicators');
        const dots = [...indicator.querySelectorAll('.indicators ul li')];
        const numberIndicator = indicator.querySelector('.number');

        let active = 0;
        const firstPosition = 0;
        const lastPosition = contents.length - 1;
        let autoPlay;

        const startAutoPlay = () => {
            clearInterval(autoPlay);
            // change 5000 to the duration between slides (in ms)
            autoPlay = setInterval(() => nextBtn.click(), 5000);
        };

        const setSlider = () => {
            contents.forEach((content, index) => {
                content.classList.toggle('active', index === active);
            });

            pictures.forEach((picture, index) => {
                picture.classList.toggle('active', index === active);
            });

            dots.forEach((dot, index) => {
                dot.classList.toggle('active', index === active);
            });

            numberIndicator.textContent = `0${active + 1}`;
            startAutoPlay();
        };

        const moveSlider = (direction) => {
            active = direction === 'next'
                ? (active + 1 > lastPosition ? 0 : active + 1)
                : (active - 1 < firstPosition ? lastPosition : active - 1);

            setSlider();
        };

        setSlider();

        nextBtn.addEventListener('click', () => moveSlider('next'));
        prevBtn.addEventListener('click', () => moveSlider('prev'));

        dots.forEach((dot, position) => {
            dot.addEventListener('click', () => {
                active = position;
                setSlider();
            });
        });
    </script>


    <script>
        class GalleryFilter {
        filtersSelector = ".cs-button";
        imagesSelector = ".cs-listing";
        activeClass = "cs-active";
        hiddenClass = "cs-hidden";

        constructor() {
            const $filters = document.querySelectorAll(this.filtersSelector);
            this.$activeFilter = $filters[0];
            this.$images = document.querySelectorAll(this.imagesSelector);

            this.$activeFilter.classList.add(this.activeClass);

            for (const $filter of $filters) {
                $filter.addEventListener("click", () => this.onClick($filter));
            }
        }

        onClick($filter) {
            this.filter($filter.dataset.filter);

            const { activeClass } = this;

            this.$activeFilter.classList.remove(activeClass);
            $filter.classList.add(activeClass);

            this.$activeFilter = $filter;
        }

        filter(filter) {
            const showAll = filter == "all";
            const { hiddenClass } = this;

            for (const $image of this.$images) {
                const show = showAll || $image.dataset.category == filter;
                $image.classList.toggle(hiddenClass, !show);
            }
        }
    }

    new GalleryFilter();
                                
    </script>

    <script>
        function initializeAnimations() {
            gsap.registerPlugin(ScrollTrigger);

            // Define the shared ScrollTrigger configuration for the #sbs section
            const sbsScrollTrigger = {
                trigger: "#sbs .cs-content",
                start: "top 60%",
                end: "bottom 40%",
                toggleActions: "restart none restart none"
            };

            // Staggered animations for elements within .cs-content
            const tlSbs = gsap.timeline({
                scrollTrigger: sbsScrollTrigger
            });

            tlSbs.from("#sbs .cs-graphic", {
                y: "-200%",
                opacity: 0,
                duration: 0.3,
                ease: "power3.out"
            })
            .from("#sbs .cs-title", {
                y: "-200%",
                opacity: 0,
                duration: 0.5,
                ease: "power3.out"
            }, "-=0.2")
            .from("#sbs .cs-text", {
                y: "-200%",
                opacity: 0,
                duration: 0.7,
                ease: "power3.out"
            }, "-=0.2")
            .from("#sbs .cs-button-solid", {
                y: "-200%",
                opacity: 0,
                duration: 0.9,
                ease: "power3.out"
            }, "-=0.2");

            // Animation for the image within .cs-picture
            gsap.fromTo("#sbs .cs-picture", 
                {
                    x: "-100%",        
                    opacity: 0,       
                    rotation: -80       
                },
                {
                    x: "0%",        
                    opacity: 1,       
                    rotation: 10,    
                    duration: 1,     
                    ease: "power3.out",
                    scrollTrigger: sbsScrollTrigger
                }
            );

            // Define the shared ScrollTrigger configuration for the #hero-1618 section
            const heroScrollTrigger = {
                trigger: "#hero-1618",
                start: "top 80%",
                end: "bottom 20%",
                toggleActions: "restart none restart none"
            };

            // Staggered animations for elements within #hero-1618
            const tlHero = gsap.timeline({
                scrollTrigger: heroScrollTrigger
            });

            tlHero.from("#hero-1618 .cs-item .cs-icon", {
                x: "-100%",
                opacity: 0,
                duration: 0.3,
                ease: "power3.out",
                stagger: 0.2  // Stagger effect for each cs-icon
            })
            .from("#hero-1618 .cs-item .cs-h3", {
                x: "-100%",
                opacity: 0,
                duration: 0.5,
                ease: "power3.out",
                stagger: 0.2  // Stagger effect for each cs-h3
            }, "-=0.2")
            .from("#hero-1618 .cs-item .cs-item-text", {
                x: "-100%",
                opacity: 0,
                duration: 0.7,
                ease: "power3.out",
                stagger: 0.2  // Stagger effect for each cs-item-text
            }, "-=0.2");

            // Define the shared ScrollTrigger configuration for the #collection-1602 section
            const collectionScrollTrigger = {
                trigger: "#collection-1602",
                start: "top 40%",
                end: "bottom 20%",
                toggleActions: "restart none restart none"
            };

            // Staggered animations for elements within #collection-1602
            const tlCollection = gsap.timeline({
                scrollTrigger: collectionScrollTrigger
            });

            tlCollection.from("#collection-1602 .cs-title", {
                x: "-100%",
                opacity: 0,
                duration: 0.5,
                ease: "power3.out"
            })
            .from("#collection-1602 .cs-button-group .cs-button", {
                x: "100%",
                opacity: 0,
                duration: 0.5,
                ease: "power3.out",
                stagger: 0.2  // Stagger effect for each cs-button
            }, "-=0.2")
            .from("#collection-1602 .cs-listing-wrapper", {
                y: "100%",
                opacity: 0,
                duration: 0.7,
                ease: "power3.out"
            }, "-=0.2");
        }

        if ('IntersectionObserver' in window) {
            let observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        initializeAnimations();
                        observer.disconnect(); // Disconnect to prevent multiple calls
                    }
                });
            });

            // Observe the .cs-content to trigger the animation for #sbs
            const sbsContent = document.querySelector('#sbs .cs-content');
            if (sbsContent) {
                observer.observe(sbsContent);
            }

            // Observe the #hero-1618 to trigger the animation for the hero section
            const heroSection = document.querySelector('#hero-1618');
            if (heroSection) {
                observer.observe(heroSection);
            }

            // Observe the #collection-1602 to trigger the animation for the collection section
            const collectionSection = document.querySelector('#collection-1602');
            if (collectionSection) {
                observer.observe(collectionSection);
            }
        } else {
            // Fallback if IntersectionObserver isn't supported
            initializeAnimations();
        }
    </script>





    {% include 'components/cta.html' %}
{% endblock %}