---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <section class="carousel">
        <div class="list">
            <div class="item ">
                <figure>
                    <img src="/assets/images/black-loafers.png">
                </figure>
                <div class="content">
                    <p class="category">
                        Sport Shoes 
                    </p>
                    <h2>
                        NIKE D.01
                    </h2>
                    <p class="description">
                        <!-- 20 -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facere ipsa blanditiis quidem dignissimos enim quam corrupti praesentium ipsam assumenda?
                    </p>
                    <div class="more">
                        <button>
                            Add To Cart
                        </button>
                        <button>
                            <i class="fa-solid fa-play"></i> See More
                        </button>
                    </div>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img src="/assets/images/blue-loafers.png">
                </figure>
                <div class="content">
                    <p class="category">
                        Sport Shoes 
                    </p>
                    <h2>
                        NIKE D.02
                    </h2>
                    <p class="description">
                        <!-- 20 -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facere ipsa blanditiis quidem dignissimos enim quam corrupti praesentium ipsam assumenda?
                    </p>
                    <div class="more">
                        <button>
                            Add To Cart
                        </button>
                        <button>
                            <i class="fa-solid fa-play"></i> See More
                        </button>
                    </div>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img src="/assets/images/red-loafers.png">
                </figure>
                <div class="content">
                    <p class="category">
                        Sport Shoes 
                    </p>
                    <h2>
                        NIKE D.03
                    </h2>
                    <p class="description">
                        <!-- 20 -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum facere ipsa blanditiis quidem dignissimos enim quam corrupti praesentium ipsam assumenda?
                    </p>
                    <div class="more">
                        <button>
                            Add To Cart
                        </button>
                        <button>
                            <i class="fa-solid fa-play"></i> See More
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrows">
            <button id="prev"><i class="fa-solid fa-chevron-left"></i></button>
            <button id="next"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
        <div class="indicators">
            <div class="number">02</div>
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>

    <script>
        let prevBtn = document.getElementById('prev');
        let nextBtn = document.getElementById('next');
        let carousel = document.querySelector('.carousel');
        let items = carousel.querySelectorAll('.list .item');
        let indicator = carousel.querySelector('.indicators');
        let dots = indicator.querySelectorAll('.indicators ul li');

        let active = 0;
        let firstPosition = 0;
        let lastPosition = items.length - 1;
        let autoPlay;

        const startAutoPlay = () => {
            clearInterval(autoPlay); 
            autoPlay = setInterval(() => {
                nextBtn.click();
            }, 5000);
        }
        startAutoPlay();

        const setSlider = () => {
            let itemActiveOld = carousel.querySelector('.list .item.active');
            if(itemActiveOld) itemActiveOld.classList.remove('active');
            items[active].classList.add('active');

            let dotActiveOld = indicator.querySelector('.indicators ul li.active');
            if(dotActiveOld) dotActiveOld.classList.remove('active');
            dots[active].classList.add('active');

            indicator.querySelector('.number').innerText = '0' + (active + 1);
            startAutoPlay();
        }
        setSlider();

        nextBtn.onclick = () => {
            active = active + 1 > lastPosition ? 0 : active + 1;
            carousel.style.setProperty('--calculation', 1);
            setSlider();
        }
        prev.onclick = () => {
            active = active - 1 < firstPosition ? lastPosition : active - 1;
            carousel.style.setProperty('--calculation', -1);
            setSlider();
            clearInterval(autoPlay);
            autoPlay = setInterval(() => {
                nextBtn.click();
            }, 5000);
        }
        dots.forEach((item, position) => {
            item.onclick = () => {
                active = position;
                setSlider();
            }
        })
    </script>





    {% include 'components/cta.html' %}
{% endblock %}