/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---          Tayyab            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #sbs2 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: calc(40 / 16 * 1rem);
        }

        .cs-left {
            /* scaling the font size with the view width */
            font-size: min(2.31vw, 0.7em);
            /* using ems so we can use font size to scale the whole section */
            width: calc(631 / 16 * 1em);
            height: calc(636 / 16 * 1em);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-color: #0b0b0b;
                width: 95%;
                height: 150px;
                right: 17%;
                top: 51%;
                filter: blur(25px);
                border-radius: 30%;
                transform: rotate(37deg);
                opacity: 0.6;
            }
        }

        .cs-picture {
            border-radius: calc(24 / 16 * 1em);
            display: block;
            margin: auto;
            /* clips img tag corners */
            overflow: hidden;
            transform: rotate(10deg);
            img {
                width: 100%;
                height: 100%;
                /* makes image act like a background image */
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            top: 0;
            left: 0;
        }

        .cs-right {
            max-width: calc(542 / 16 * 1rem);
            margin: auto;
            text-align: center;
        }

        .cs-title {
            max-width: calc(800 / 16 * 1rem);
        }

        .cs-text {
            max-width: calc(750 / 16 * 1rem);
            margin-bottom: calc(16 / 16 * 1rem);

            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-flex-group {
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-image: radial-gradient(#2b2e4f, #111126);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
            border-radius: calc(16 / 16 * 1rem);
            position: relative;
            margin-bottom: 2rem;
        }

        .cs-flex-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(16 / 16 * 1rem);
            color: var(--bodyTextColor);
            text-align: left;
        }

        .cs-name {
            font-size: calc(16 / 16 * 1rem);
            font-weight: bold;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0 0 calc(4 / 16 * 1rem);
            color: var(--headerColor);
            display: block;
            text-align: left;
        }

        .cs-job {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: block;
            text-align: left;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 5.5rem);
            height: auto;
            position: absolute;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            bottom: calc(0 / 16 * 1rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs2 {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: calc(52 / 16 * 1rem);
        }

        .cs-left {
            font-size: min(1.2vw, 1em);
            flex: none;
        }

        .cs-right {
            margin: 0;
        }

        .cs-picture {
            position: absolute;
        }
    }
}


                                