/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RTsbs-459 {
        position: relative;
        background-image: radial-gradient(#2b2e4f, #111126);
    

        .cs-container {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            margin: auto;
            max-width: calc(1280 / 16 * 1rem);
            width: 100%;
            margin-top: -2rem;

            &::after {
                position: absolute;
                top: -10%;
                right: 75px;
                content: "";
                border-right: 1px solid #324073;
                border-left: 1px solid #324073;
                height: 110%;
                width: 75px;
                pointer-events: none;
            }
        }

        .cs-content {
            z-index: 10;
            position: relative;
            visibility: hidden;
            opacity: 0;
            transform: translateX(8rem);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            border-radius: calc(12 / 16 * 1rem);
            height: 0;
            max-width: calc(650 / 16 * 1rem);
            width: auto;
            box-sizing: border-box;
            overflow: hidden;
            padding: 0;
            transition: opacity 0.5s ease-out, transform 0.5s ease-out;
            text-align: right;

            &.active {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
                height: initial;
                padding: clamp(2.5rem, 7vw, 3.75rem) clamp(1rem, 4.5vw, 3.75rem);
                top: -4rem;
            }
        }

        .cs-topper {
            margin-top: 1rem;
            text-transform: none;
            font-weight: 500;
        }

        .cs-text {
            margin-bottom: 1rem;
            max-width: 25rem;
            font-size: 0.9rem;
        }

        .cs-title {
            text-transform: uppercase;
            font-family: "League Gothic", sans-serif;
            color: #fff;
        }

        .text-buttons {
            display: flex;
            gap: 1.25rem;
        }

        .cs-button-solid {
            font-weight: 400;
            font-size: 1rem;

            &:nth-child(1) {
                background-image: linear-gradient(to right, #81baa0, #46a39c);
            }

            &:nth-child(2) {
                border: 2px solid transparent;
                background: linear-gradient(#242745, #242745) padding-box, linear-gradient(to right, #81baa0, #46a39c) border-box;
            }
        }

        .cs-picture {
            /* sends it to the top */
            order: -1;
            z-index: 1;
            position: relative;
            opacity: 0;
            transform: translateX(50rem);
            display: block;
            height: 0;
            width: 100%;
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;

            img {
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(-25deg);
                height: 100%;
                width: 100%;
                object-fit: scale-down;
            }

            &::after {
                position: absolute;
                top: clamp(103%, 48vw, 110%);
                left: 11%;
                content: "";
                border-radius: 30%;
                background-color: #0b0b0b;
                height: 30px;
                width: 95%;
                filter: blur(25px);
            }

            &.active {
                opacity: 1;
                transform: translateX(0);
                height: calc(443 / 16 * 1rem);
            }
        }

        .more {
            position: absolute;
            top: 52%;
            border-top: 1px solid #324073;
            border-bottom: 1px solid #324073;
            height: 75px; /* Sets height to 200px */
            width: 100%; /* Full width of the containing block */
        }

        .arrows {
            z-index: 999;
            position: relative;
            top: -26px;
            display: flex;
            justify-content: space-between;

            button {
                border: 1px solid #659cdf55;
                border-radius: 50%;
                background-color: #232442;
                height: 50px;
                width: 50px;
                font-family: monospace;
                font-size: large;
                color: #fff7;
                pointer-events: auto;
                transition: 0.5s;
                break-before: 50%;

                &:hover {
                    border: 1px solid #659cdf;
                    color: #fff;
                }
            }
        }

        .indicators {
            z-index: 1;
            position: absolute;
            top: 60%;
            left: 55%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 300px; /* Sets height to 200px */
            width: 100%; /* Full width of the containing block */
            pointer-events: none;
            gap: 10px;
        }

        .number {
            font-family: "League Gothic", sans-serif;
            font-size: 17.1vw;
        }

        ul {
            display: flex;
            gap: 10px;

            li {
                border-radius: 10px;
                background-color: #659cdf;
                height: 5px;
                width: 50px;
                list-style: none;
                cursor: pointer;
                pointer-events: auto;
                transition: 0.5s;
            }

            .active {
                background-color: yellow;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RTsbs-459 {
    padding-bottom: 6.25rem;
        .cs-container {
            position: relative;
            justify-content: center;
            align-items: flex-end;
            padding: calc(60 / 16 * 1rem) 0;
            margin-top: 0;

            
            &::after {
                right: 200px;
                width: 200px;
                height: 100%;
                top: auto;
            }
        }

        .cs-content {
            margin: 0;
            width: 65%;

            &.active {
                top: auto;
            }
        }

        .cs-picture {
            position: absolute;
            left: 0;
            height: 100%;
            /* 465px - 617px */
            width: clamp(29.0625rem, 53vw, 58.5625rem);

            img {
                object-fit: cover;
            }
        }

        .more {
            height: 200px; /* Sets height to 200px */
        }

        .indicators {
            top: 52%;
            left: 50%;
        }

        .number {
            font-size: 5.7vw;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RTsbs-459 {
        .cs-content {
            /* 90px - 108px */
            margin-right: clamp(5rem, 8.5vw, 6.75rem);
        }
    }
}