/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    :root {
        --w-column: 100px;
    }

    #hero {
        position: relative;
        /* prevents overflow from the lines extending past the screen width */
        overflow: hidden;
        background-image: radial-gradient(#2b2e4f, #111126);
        height: 100vh;

        .cs-container {
            position: relative;
            margin: auto;
            width: min(1200px, 90vw);
            height: 100%;

            &::before {
                content: '';
                position: absolute;
                height: var(--w-column);
                width: 100%;
                border-top: 1px solid #324073;
                border-bottom: 1px solid #324073;
                top: 52%;
                pointer-events: none;
            } 

            &::after {
                content: '';
                position: absolute;
                right: var(--w-column);
                width: var(--w-column);
                height: 100%;
                border-left: 1px solid #324073;
                border-right: 1px solid #324073;
                pointer-events: none;
            }  
        }

        .item {
            position: absolute;
            inset: 0;
        }

        .cs-picture {
            position: absolute;
            width: 70%;
            top: 50%;
            transform: translateY(-50%);

            img {
                width: 90%;
                height: 90%;
                object-fit: cover;
                transform: rotate(-25deg);
            }

            &::before {
                content: '';
                position: absolute;
                background-color: #0b0b0b;
                width: 100%;
                height: 100px;
                top: 90%;
                left: 50px;
                filter: blur(50px);
                border-radius: 50%;
            }
        }

        .content {
            position: absolute;
            z-index: 999;
            width: 70%;
            height: 100%;
            right: var(--w-column);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            gap: 20px;
        }

        .cs-topper {
            font-weight: 500;
            margin-bottom: calc(16 / 16 * 1rem);
            color: var(--primary);
        }

        .cs-title {
            font-family: 'League Gothic';
            color: var(--bodyTextColor);
            text-transform: uppercase;
            font-size: 8.3em;
            line-height: 1em;
        }

        .cs-text {
            color: var(--bodyTextColorWhite);
            text-align: right;
            max-width: 400px;
            font-size: small;
        }

        .more {
            display: grid;
            grid-template-columns: repeat(2, 120px);
            gap: 20px;
            grid-template-rows: 35px;
        

            button {
                border-radius: 30px;
                font-family: 'League Gothic', sans-serif;
                text-transform: uppercase;
                color: #fff;
                background-color: transparent;
                border: none;

                &:nth-child(1) {
                    background-image: linear-gradient(to right, #81baa0, #46a39c);
                }

                &:nth-child(2) {
                    border: 2px solid transparent;
                    background: linear-gradient(#242745, #242745) padding-box,
                    linear-gradient(to right, #81baa0, #46a39c) border-box;
                }
            }
        }

        .arrows {
            width: min(1200px, 90vw);
            position: absolute;
            top: 52%;
            left: 50%;
            transform: translate(-50%, -25px);
            pointer-events: none;
            z-index: 1000;
            display: flex;
            justify-content: space-between;

            button {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                break-before: 50%;
                border: 1px solid #659cdf55;
                background-color: #232442;
                color: #fff7;
                font-size: large;
                font-family: monospace;
                pointer-events: auto;
                transition: 0.5s;

                &:hover {
                    border: 1px solid #659cdf;
                    color: #fff;
                }
            }
        }

        .indicators {
            position: absolute;
            top: 78.5%;
            height: var(--w-column);
            width: min(1200px, 90vw);
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            pointer-events: none;
            justify-content: end;
            gap: 10px;
        }

        .number {
            font-family: 'League Gothic', sans-serif;
            font-size: 6vw;
        }

        ul {
            display: flex;
            gap: 10px;

            li {
                width: 50px;
                height: 5px;
                background-color: #659cdf;
                border-radius: 10px;
                pointer-events: auto;
                cursor: pointer;
                list-style: none;
                transition: 0.5s;

                &:hover {
                    background-image: none;
                    background-color: yellow;
                }
            }

            .active {
                background-color: yellow;
            }
        }
    }
}


