/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    :root {
        --w-column: 50px;
        --calculation: 1;
    }

    #hero {
        position: relative;
        /* prevents overflow from the lines extending past the screen width */
        overflow: hidden;
        background-image: radial-gradient(#2b2e4f, #111126);
        height: 100vh;

        .cs-container {
            position: relative;
            margin: auto;
            width: min(1200px, 90vw);
            height: 100%;

            &::before {
                content: '';
                position: absolute;
                height: var(--w-column);
                width: 100%;
                border-top: 1px solid #324073;
                border-bottom: 1px solid #324073;
                top: 52%;
                pointer-events: none;
            } 

            &::after {
                content: '';
                position: absolute;
                right: var(--w-column);
                width: var(--w-column);
                height: 100%;
                border-left: 1px solid #324073;
                border-right: 1px solid #324073;
                pointer-events: none;
            }  
        }

        .item {
            position: absolute;
            inset: 0;
            transition: 0.5s;
            transform: translateX(calc(100vw * var(--calculation)));
            opacity: 0;
        }

        .cs-picture {
            position: absolute;
            width: 115%;
            transform: translateY(0);
            left: -3%;
            top: 3%;

            img {
                width: 90%;
                height: 90%;
                object-fit: cover;
                transform: rotate(0deg);
                transition: 0.5s;
                transition-delay: 0.3s;
            }

            &::before {
                content: '';
                position: absolute;
                background-color: #0b0b0b;
                width: 100%;
                height: 100px;
                top: 90%;
                left: 50px;
                filter: blur(50px);
                border-radius: 50%;
            }
        }

        .content {
            position: absolute;
            width: 100%;
            height: 100%;
            right: var(--w-column);
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            gap: 20px;
            transform: translateX(calc(200px * var(--calculation)));
            transition: 0.7s;
            opacity: 0;
            transition-delay: 0.3s;
            padding-bottom: 75px;
            top: 5%;
        }

        .cs-topper {
            font-weight: 500;
            color: var(--primary);
            margin: 0;
        }

        .cs-title {
            font-family: 'League Gothic';
            color: var(--bodyTextColor);
            text-transform: uppercase;
            font-size: clamp(3.5em, 10vw, 8.3em);
            line-height: 1em;
            transition-delay: 0.5s;
            margin: 0;
        }

        .cs-text {
            color: var(--bodyTextColorWhite);
            text-align: right;
            max-width: 55%;
            font-size: small;
            transition-delay: 0.7s;
        }

        .more {
            display: grid;
            grid-template-columns: repeat(2, 120px);
            gap: 20px;
            grid-template-rows: 35px;
            transition-delay: 0.9s;
        

            button {
                border-radius: 30px;
                font-family: 'League Gothic', sans-serif;
                text-transform: uppercase;
                color: #fff;
                background-color: transparent;
                border: none;

                &:nth-child(1) {
                    background-image: linear-gradient(to right, #81baa0, #46a39c);
                }

                &:nth-child(2) {
                    border: 2px solid transparent;
                    background: linear-gradient(#242745, #242745) padding-box,
                    linear-gradient(to right, #81baa0, #46a39c) border-box;
                }
            }
        }

        .arrows {
            width: min(1200px, 90vw);
            position: absolute;
            top: 52%;
            left: 50%;
            transform: translate(-50%, -25px);
            pointer-events: none;
            z-index: 1000;
            display: flex;
            justify-content: space-between;

            button {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                break-before: 50%;
                border: 1px solid #659cdf55;
                background-color: #232442;
                color: #fff7;
                font-size: large;
                font-family: monospace;
                pointer-events: auto;
                transition: 0.5s;

                &:hover {
                    border: 1px solid #659cdf;
                    color: #fff;
                }
            }
        }

        .indicators {
            position: absolute;
            top: clamp(63%, 54vw, 88.5%);
            height: var(--w-column);
            width: min(1200px, 90vw);
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            pointer-events: none;
            justify-content: end;
            gap: 10px;
            z-index: 1;
        }

        .number {
            font-family: 'League Gothic', sans-serif;
            font-size: 5.7vw;
        }

        ul {
            display: flex;
            gap: 10px;

            li {
                width: 50px;
                height: 5px;
                background-color: #659cdf;
                border-radius: 10px;
                pointer-events: auto;
                cursor: pointer;
                list-style: none;
                transition: 0.5s;
            }

            .active {
                background-color: yellow;
            }
        }

        .active {
            opacity: 1;
            transform: translateX(0);
            z-index: 1;

            .cs-picture {
                img {
                    transform: rotate(-25deg);
                }
            }
        }

        .content {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48rem) {
    :root {
        --w-column: 60px;
    }

    #hero {
        height: 60vh;

        .content {
            width: 70%;
            justify-content: center;
            padding-bottom: 0;
            top: 0;
        }

        .cs-text {
            max-width: 50%;
        }

        .cs-picture {
            width: 70%;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero {
        height: 100vh;
    }
}

