/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero {
        position: relative;
        /* prevents overflow from the lines extending past the screen width */
        overflow: hidden;
        list-style: none;
        background-image: #0E0F0F;
        height: 100vh;

        .cs-container {
            position: relative;
            margin: auto;
            width: min(1200px, 90vw);
            height: 100%;
        }

        .item {
            position: absolute;
            inset: 0;
        }

        .cs-picture {
            position: absolute;
            width: 70%;
            top: 50%;
            transform: translateY(-50%);

            img {
                width: 85%;
                height: 85%;
                object-fit: cover;
                transform: rotate(-30deg);
            }

            /* shadow come back to it bc you need to finalise the shoe img size first as shadow will reflect it */
            &::before {
                content: '';
                display: none;
            }
        }

        .content {
            position: absolute;
            z-index: 999;
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            gap: 20px;
        }

        .cs-topper {
            margin-bottom: calc(16 / 16 * 1rem);
            color: var(--primary);
            text-align: center;
        }

        .cs-title {
            width: 100%;
            color: var(--bodyTextColorWhite);
            text-align: center;
        }

        .cs-text {
            /* 32px - 40px */
            margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
            /* 40px - 48px */
            margin-bottom: clamp(2.5rem, 4vw, 3rem);
            color: var(--bodyTextColorWhite);
            text-align: center;
        }

        .cs-button-solid {
            margin-bottom: calc(16 / 16 * 1rem);
            height: initial;
            line-height: clamp(2.875em, 5.5vw, 3.5em);
        }

        .cs-button-transparent {
            z-index: 1;
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--bodyTextColorWhite);
            margin: 0 calc(8 / 16 * 1rem);
            background-color: transparent;
            /* 46px - 56px */
            height: clamp(2.875em, 5.5vw, 3.5em);
            width: calc(180 / 16 * 1rem);
            box-sizing: border-box;
            padding: 0;
            text-decoration: none;
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            font-weight: 700;
            color: #fff;

            .cs-img {
                display: block;
                margin-right: calc(12 / 16 * 1rem);
            }

            &:before {
                z-index: -1;
                position: absolute;
                /* so it sits on top of the border */
                top: -1px;
                bottom: -1px;
                left: -1px;
                right: -1px;
                content: "";
                opacity: 1;
                /* this is what creates the grow affect on hover */
                transform: scaleX(0);
                display: block;
                background: #000;
                transition: transform 0.3s;
                transform-origin: left;
            }

            &:hover {
                &:before {
                    transform: scaleX(1);
                }
            }
        }
    }
}


