/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RTsbs-459 {
        padding: var(--sectionPadding);
        background-image: radial-gradient(#2b2e4f, #111126);


        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                right: 200px;
                width: 200px;
                height: 100%;
                border-left: 1px solid #324073;
                border-right: 1px solid #324073;
                pointer-events: none;
            }  
        }

        .cs-content {
            text-align: right;
            width: auto;
            max-width: calc(650 / 16 * 1rem);
            margin: 0 calc(16 / 16 * 1rem);
            margin-top: calc(-300 / 16 * 1rem);
            padding: clamp(2.5rem, 7vw, 3.75rem) clamp(1.25rem, 5.5vw, 3.75rem);
            box-sizing: border-box;
            border-radius: calc(12 / 16 * 1rem);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            z-index: 10;
        }
        
        

        .cs-topper {
            text-transform: none;
            font-weight: 500;
            margin-top: 1rem;
        }

        .cs-text {
            margin-bottom: 1rem;
            font-size: 0.86rem;
            max-width: 25rem;
        }

        .cs-title {
            text-transform: uppercase;
            color: #fff;
            font-family: 'League Gothic', sans-serif;
            font-size: clamp(3.5rem, 10vw, 8rem);
        }
        
        .text-buttons {
            display: flex;
            gap: 1.25rem;
        }

        .cs-button-solid {
            font-size: 0.86rem;
            font-family: 'League Gothic', sans-serif;
            /* 46px - 56px */
            line-height: 2.5rem;
            text-decoration: none;
            font-weight: 400;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0;
            background-color: transparent;
            border: none;
            border-radius: 1.875rem;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:nth-child(1) {
                background-image: linear-gradient(to right, #81baa0, #46a39c);
            }

            &:nth-child(2) {
                border: 2px solid transparent;
                background: linear-gradient(#242745, #242745) padding-box,
                linear-gradient(to right, #81baa0, #46a39c) border-box;
            }

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #659cdf;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: 1.875rem;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            height: calc(443 / 16 * 1rem);
            display: block;
            /* sends it to the top */
            order: -1;
            position: relative;
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transform: rotate(-25deg);
            }

            &::before {
                content: '';
                position: absolute;
                background-color: #0b0b0b;
                width: 95%;
                height: 30px;
                top: 103%;
                left: 11%;
                filter: blur(25px);
                border-radius: 30%;
            }
        }

        .more {
            position: absolute;
            height: 200px; /* Sets height to 200px */
            width: 100%; /* Full width of the containing block */
            top: 52%;
            border-bottom: 1px solid #324073;
        }

        .hor-line {
            border-top: 1px solid #324073;
        }

        .arrows {
            position: relative;
            top: -26px;
            display: flex;
            justify-content: space-between;
            z-index: 999;

            button {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                break-before: 50%;
                border: 1px solid #659cdf55;
                background-color: #232442;
                color: #fff7;
                font-size: large;
                font-family: monospace;
                pointer-events: auto;
                transition: 0.5s;

                &:hover {
                    border: 1px solid #659cdf;
                    color: #fff;
                }
            }
        }

        .indicators {
            position: absolute;
            height: 300px; /* Sets height to 200px */
            width: 100%; /* Full width of the containing block */
            top: 52%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            pointer-events: none;
            justify-content: end;
            gap: 10px;
            z-index: 1;
        }

        .number {
            font-family: 'League Gothic', sans-serif;
            font-size: 5.7vw;
        }

        ul {
            display: flex;
            gap: 10px;

            li {
                width: 50px;
                height: 5px;
                background-color: #659cdf;
                border-radius: 10px;
                pointer-events: auto;
                cursor: pointer;
                list-style: none;
                transition: 0.5s;
            }

            .active {
                background-color: yellow;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RTsbs-459,
    #RTsbsr-459,
    #RTsbst-459 {
        .cs-container {
            padding: calc(60 / 16 * 1rem) 0;
            position: relative;
            align-items: flex-end;
            justify-content: center;
        }

        .cs-content {
            width: 65%;
            margin: 0;
        }

        .cs-picture {
            /* 465px - 617px */
            width: clamp(29.0625rem, 53vw, 58.5625rem);
            position: absolute;
            left: 0;
            height: 100%;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RTsbs-459,
    #RTsbsr-459,
    #RTsbst-459 {
        .cs-content {
            /* 90px - 108px */
            margin-right: clamp(5rem, 8.5vw, 6.75rem);
        }
    }
}
                                